.table {
  >thead {
    >tr {
      >th {
        border-top: 0;
        border: 0px solid grey;
        width: 100%;
      }
    }
  }

  &-clickable-rows {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
.box {
  width: 50%;
  background-color: #7C39ED;
  padding: 15px 0px 0px 20px;
  color:white;
}
.btn{
  margin:20px 0px 0px 320px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #7C39ED;
  color: white;
}

